[submodule "2020 DP Temporal Map Challenge - Solutions and Data/contestant repositories/deid2_dpsyn"]
	path = 2020 DP Temporal Map Challenge - Solutions and Data/contestant repositories/deid2_dpsyn
	url = https://github.com/agl-c/deid2_dpsyn
